<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title></title>
	</head>
	<body>
		<!-- 头部导航 -->
		[#assign type="1" channelTitle="新闻"/]
		[#include "../includes/header.html"]
		<!-- 头部导航 -->
		<link rel="stylesheet" href="${mobileRes}/css/wtt-common.css" />
		<link rel="stylesheet" href="${mobileRes}/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="${mobileRes}/css/bignav.css" />
		<link rel="stylesheet" type="text/css" href="${mobileRes}/css/news.css" />
		<link rel="stylesheet" href="${mobileRes}/css/newsList.css" type="text/css">
		<script src="${mobileRes}/js/loading.js" type="text/javascript" charset="utf-8"></script>
		<div class="news">
			<div class="channel">
				<ul>
					[@cms_channel path='news' siteId='1']<li>
						<a href="${tag_bean.url!}" class="mark-red Medium">全部
						</a>
					</li>
					[/@cms_channel]

					[@cms_channel_list siteId='1' parentId='1747']
					[#list tag_list as c]
					<li><a href="${c.url!}" class="Regular">${c.name!}</a></li>
					[/#list]
					[/@cms_channel_list]
				</ul>
			</div>
			<!-- 轮播部分 -->
			<div class="lunbo">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						[@cms_content_list channelPath='news' typeId='186' orderBy='29' siteId='1']
						[#list tag_list as a]
						<div class="swiper-slide">
							<a href="${a.url!}">
								<div class="image" style="background-image: url('${(a.attr.shoujibannertu.resUrl)!}');"></div>
								<div class="text Regular"><h4>[@text_cut s=a.title len=20 append='...'/]</h4></div>
							</a>
						</div>
						[/#list]
						[/@cms_content_list]
					</div>
					<!-- 如果需要分页器 -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- 轮播部分 -->
			<div class="grey-blank"></div>
			<div class="news-list" id="news">
				<div class="inner">
					[@cms_content_list channelPath='news' orderBy='1' count='10' siteId='1']
					<ul class="important-list">
						[#list tag_list as a]
						<li class="Medium">
							[#if (a.attr.shoujiliebiaotu.resUrl)??&&(a.attr.shoujiliebiaotu.resUrl)!='']
							<div class="important-top-yes">
								<div class="important-top-left">
									<a href="${a.url!}">
										<h4 class="Medium">[@text_cut s=a.title len=22 append='...'/]</h4>
									</a>
									<p class="Regular"><span class="Regular">[#if (a.source)??&&(a.source.sourceName)?? && (a.source.sourceName) !=""]${(a.source.sourceName)}[#else]JEECMS演示站[/#if]</span><span>${a.releaseTimeString!}</span></p>
								</div>
								<div class="important-top-right">
									<a href="${a.url!}">
										<img src="${(a.attr.shoujiliebiaotu.resUrl)!}">
									</a>
								</div>
							</div>
							[#else]
							<div class="important-top-no">
								<a href="${a.url!}">
									<h4 class="Medium">[@text_cut s=a.title len=40 append='...'/]</h4>
								</a>
								<p class="Regular"><span class="Regular">[#if (a.source)??&&(a.source.sourceName)?? && (a.source.sourceName) != ""]${(a.source.sourceName)}[#else]JEECMS演示站[/#if]</span><span>${a.releaseTimeString!}</span></p>
							</div>
							[/#if]
							<!-- 底部 -->
							<div class="important-bottom">
								<a href="${a.url!}">
									<div>
										<img src="${mobileRes}/images/icon/liulanliang-l.png">
										<span class="Regular">${a.views!}</span>
									</div>
								</a>
								
								<a href="${a.url!}">
									<div>
										<img src="${mobileRes}/images/icon/pinglun-i.png">
										<span class="Regular">${a.comments!}</span>
									</div>
								</a>
								<a href="${a.url!}">
									<div>
										<img src="${mobileRes}/images/icon/dianzan-l.png">
										<span class="Regular">${a.ups!}</span>
									</div>
								</a>
							</div>
						</li>
						[/#list]
						[#assign listLength=tag_list?size/]
					</ul>
					[/@cms_content_list]
					<ul class="important-list">
						<li class="Medium" v-for="(a,index) in list" :key="index">
							<div class="important-top-yes" v-if="a.attr && a.attr.shoujiliebiaotu&&a.attr.shoujiliebiaotu.resUrl">
								<div class="important-top-left">
									<a :href="a.url">
										<h4 class="Medium" v-if="a.title.length <= 22" v-text="a.title"></h4>
										<h4 class="Medium" v-else v-text="a.title.slice(0,22)+'...'"></h4>
									</a>
									<p class="Regular"><span class="Regular" v-text="!a.source?'JEECMS演示站':!(a.source.sourceName)?'JEECMS演示站':(a.source.sourceName)==''?'JEECMS演示站':(a.source.sourceName)"></span><span v-text="a.releaseTimeString"></span></p>
								</div>
								<div class="important-top-right">
									<a :href="a.url">
										<img :src="a.attr.shoujiliebiaotu.resUrl">
									</a>
								</div>
							</div>
							<div class="important-top-no" v-else>
								<a :href="a.url">
									<h4 class="Medium" v-if="a.title.length <= 40" v-text="a.title"></h4>
									<h4 class="Medium" v-else v-text="a.title.slice(0,40)+'...'"></h4>
								</a>
								<p class="Regular"><span class="Regular" v-text="!a.source?'JEECMS演示站':!(a.source.sourceName)?'JEECMS演示站':(a.source.sourceName)==''?'JEECMS演示站':(a.source.sourceName)"></span><span v-text="a.releaseTimeString"></span></p>
							</div>
							<!-- 底部 -->
							<div class="important-bottom">
								<a :href="a.url">
									<div>
										<img src="${mobileRes}/images/icon/liulanliang-l.png">
										<span class="Regular" v-text="a.views"></span>
									</div>
								</a>
								
								<a :href="a.url">
									<div>
										<img src="${mobileRes}/images/icon/pinglun-i.png">
										<span class="Regular" v-text="a.comments"></span>
									</div>
								</a>
								<a :href="a.url">
									<div>
										<img src="${mobileRes}/images/icon/dianzan-l.png">
										<span class="Regular" v-text="a.ups"></span>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<my-loading :load="load" :isload="isload"></my-loading>
				</div>
			</div>
		</div>
		[#include "../includes/footerTabbar.html"]
	</body>
	<script type="text/javascript" src="${mobileRes}/js/swiper.min.js"></script>

	<script>
		//获取要定位元素距离浏览器顶部的距离
		var navH = $(".channel").offset().top;
		// console.log(navH);
		//滚动条事件
		$(window).scroll(function() {
			//获取滚动条的滑动距离
			var scroH = $(this).scrollTop();
			// console.log(scroH);
			//滚动条的滑动距离大于等于定位元素距离浏览器顶部的距离，就固定，反之就不固定
			if (scroH >= navH) {
				$(".channel").css({
					"position": "sticky",
					"top": '0.96rem',
					"z-index": 10
				});
				
			}else if (scroH < navH) {
				$(".channel").css({
					"position": "static"
				});
			}
		})
		var mySwiper = new Swiper('.swiper-container', {
			autoplay: {
				delay: 1000, //4.0自动切换滚动 间隔时间1秒   单位是毫秒
				disableOnInteraction: false //4.0用户操作swiper后是否禁止autoplay,默认为t					rue静止。
			},
			speed: 1000, //定义切换的速度
			loop: true, //定义循环播放 true  (false 为默认值 不循环)
			pagination: { //4.0的分页器
				el: ".swiper-pagination"
			}
		})
		var news = new Vue({
			el: '#news',
			data: {
				load: '加载更多',
				uploading: true,
				getData: {
					channelPaths: 'news',
					orderBy: 1,
					page: 1,
					size: 10
				},
				isload: false,
				list: [],
				newPage: [],
				last: false,
				uped: false,
				listLength: '${listLength}'
			},
			mounted() {
				if (this.listLength < 10) {
					this.load = '没有更多了'
					this.isload = false
					this.last = true
				}
			},
			filters: {
				ellipsis(value) {
					if (!value) return ''
					if (value.length > 22) {
						return value.slice(0, 22) + '...'
					}
					return value
				}
			},
			methods: {
				loading() {
					if (this.uploading) {
						this.uploading = false
						if (!this.last) {
							this.load = '加载更多'
							this.isload = true
							this.getData.page += 1
							this.getContentPage()
						} else {
							this.load = '没有更多了'
							this.isload = false
						}
					}
				},
				getContentPage() {
					var that = this
					api.GET('/content/page', that.getData, function(res) {
						console.log(res)
						if (res.code == 200) {
							that.last = res.data.last
							if (!that.last) {
								that.load = '加载更多'
								that.isload = true
							} else {
								that.load = '没有更多了'
								that.isload = false
							}
							that.newPage = res.data.content;
							that.list = that.list.concat(that.newPage)
							that.uploading = true
						}

					})
				}
			}
		})
	</script>
</html>
