.txt p{
	max-width: 100% !important;
}
.txt{
	margin-top: 0.8rem;
}

.txt img{
	width: 100% !important;
	border-radius: 0.1rem;
}
.bot{
	display: flex;
	margin-top: 0.56rem;
	margin-bottom: 0.8rem;
}
.txt p{
	font-size:0.3rem !important;
	font-family:PingFang SC !important;
	color:rgba(77,77,77,1) !important;
	line-height:0.50rem !important;
}
.txt p>span{
	font-size:0.3rem !important;
	font-family:PingFang SC !important;
	line-height:0.50rem !important;
	color: rgba(227,11,32,1);
}
.relate-con .box{
	margin-top: 0.4rem;
	width: 3.2rem;
	height: 3.96rem;
}
.relate-con .box:nth-child(2n+1){
	float: left;
}
.relate-con .box:nth-child(2n){
	float: right;
}
.relate-con .box:first-child ,.relate-con .box:first-child+.box{
	margin-top: 0.3rem;
}
	
.relate-con .box .image{
	width: 3.2rem;
	height: 2.64rem;
	margin-bottom: 0.13rem;
	border-radius: 0.05rem;
}
.relate-con .box h4{
	margin-bottom: 0.19rem;
	font-size:0.26rem;
	font-family:PingFang SC;
	color:rgba(51,51,51,1);
	line-height:0.40rem;
}
.relate-con .box .bottom{
	display: flex;
	align-items: center;
}
.relate-con .box .bottom div{
	display: flex;
	align-items: center;
}
.relate-con .box .bottom div:first-child{
	margin-right: 0.49rem;
}
.relate-con .box .bottom div img{
	width: 0.2rem;
	height: 0.16rem;
	margin-right: 0.13rem;
}
.relate-con .box .bottom div span{
	font-size:0.20rem;
font-family:PingFang SC;
color:rgba(153,153,153,1);
}
