#voteDetail{margin-top:0.96rem;}
/*共用样式*/

.t-red{ color: #FF0000;}
.impro{padding-left: 0.08rem;}
.t-color66{color: #666666;}
.t-colorcc{color: #999;}
.t-color99{color: #fab6b6;}
.t-font12{font-size: 0.32rem;}
.t-font14{font-size: 0.28rem;}
.t-img{width: 100%;height: auto;display: block;}
.t-cursor{cursor: pointer;}
.relative{position: relative;}
.t-flex{display: flex;flex-wrap: wrap;}
.t-border{border: 0.02rem solid #E8E8E8;}
.sel-box{width: 100%;height: 0.88rem;position: relative;padding: 0 0.32rem;line-height: 0.84rem;display: flex;border-radius: 0.08rem;behavior: url(../src/pie/PIE.htc);
  font-size: 0.32rem;color:#999999;}
.flex-1{flex: 1;display: inline-block;}
.t-radio{vertical-align: middle;width: 0.36rem;height: 0.36rem;border: 0.025rem solid #ccc;display: inline-block;position: relative;
  cursor: pointer;text-align: center;line-height:32rem;border-radius: 0.04rem;margin-right: 0.1rem;}
.t-cont-radios.active .t-radio{background-color: #45A5FF;border-color: #45A5FF;}
.t-radio .t-img{position: absolute;right: 0rem;}
.t-radio.radio .iconfont{width: 0.13rem;height: 0.12rem;background-color: #fff;border-radius: 100%;behavior: url(../src/pie/PIE.htc);
  position: relative;top: 5px;left: 5px;}
.t-radius{border-radius: 100%;behavior: url(../src/pie/PIE.htc);}
.t-input,.t-select{border: 0.02rem solid #E8E8E8;height: 0.88rem;border-radius: 0.08rem;behavior: url(../src/pie/PIE.htc);
  padding:0.15rem 0.2rem;box-sizing: border-box;font-size: 0.32rem;background-color: #fff;margin-top: 0.08rem;}
.t-input::-moz-focus-inner,.t-select::-moz-focus-inner{border-color: #45A5FF;}
.t-input input{border: none;font-size: 100%;line-height: 1.5;width: 100%;}
.t-input textarea{border: none;font-size: 100%;line-height: 1;}
.t-input {padding-top: 0.09rem;}
.t-w130{width:100%;}
.t-w414{width: 100%;}
/* 容器 */
.t-vote-wrap{ width: 100%; background-color: #F0F0F0;box-sizing: border-box;}
.container{width: 100% !important;margin: 0 auto;background-color: #fff;}
.t-vote-head{ width: 100%;background-color: #e8e8e8;}
.t-vote-head .t-img{display: block;}
.t-vote-cont{padding: 0 0.4rem;line-height: 1;box-sizing: border-box;border-style: solid;}
.t-vote-title{font-size: 0.4rem;width: 100%;text-align: center;padding: 0.5rem 0 0.4rem;line-height: 0.4rem;font-weight: bolder;}
.t-vote-detail{font-size: 0.36rem;width: 100%;text-align: left;padding: 0 0.1rem;box-sizing: border-box;
  margin-bottom: 0.72rem;line-height: 1.3;}
.t-vote-head{height: 150px;}
.t-vote-head .t-img{height: 100%;width: fit-content;}
/* 单个题目 */
.t-cont-ques{ width: 100%;padding-bottom: 0.64rem;position: relative;}
.t-cont-title{ font-size: 0.32rem;color: #333333;margin-bottom: 0.1rem;line-height: 0.24rem;}
.t-cont-prompt{margin:0.10rem 0 0.24rem;font-size: 0.32rem;color: #333333;padding-left: 0.1rem;line-height: 1.5;}
.t-cont-radios{min-height: 0.3rem;width: 100%;padding:0.1rem 0;box-sizing: border-box;
  font-size: 0.32rem;color: #333333;margin-bottom: 0rem;vertical-align: top;}
/* .t-cont-radios .t-input{margin-top: 0;} */
.t-radio-emty, .t-border-emty{margin-top: 0.2rem;position: relative;width: 100%;line-height: 0.66rem}
.t-radio-emty .impro, .t-border-emty .impro{left: -0.25rem;position: absolute;}
.sub-btn-wrap{width:100%;padding-bottom: 0.5rem;}
.sub-btn-wrap .sub-btn{width:0.77rem;height:0.32rem;background-color: #1EC6DF; border-style: solid; border-radius: 0.04rem;
    behavior: url(../src/pie/PIE.htc);margin: 0 auto;font-size: 0.32rem;text-align: center;cursor: pointer;}
/* 附件 */
.t-file-upload{width: 100%;height: 1.49rem;border: 0.02rem dashed #e8e8e8;margin-top:0.08rem;
  padding-top: 0.2rem;box-sizing: border-box;text-align: center;}
.t-file-upload .t-font12{margin-top: 0.09rem;position: relative;font-size: 0.32rem;}
.t-file-upload .iconfont{width: 0.57rem;height: 0.49rem;display: block;margin: 0 auto;}
.select-icon{position: absolute;right: 0.02rem;top: 0.32rem;font-size: 0.36rem !important;color: #999;}
.up-file{display: none;}
.file-list{width:100%;}
.file-item{border: 0.02rem solid #e8e8e8;padding:0.23rem 0.35rem 0.23rem 0.2rem;margin-top: 0.35rem;line-height: 0.38rem;border-radius: 0.04rem;
  color:#3178EE;min-height: 0.4rem;position: relative;font-size: 0.32rem;word-break: break-all;}
.file-del{width: 0.28rem;height: 0.28rem;position: absolute;top:0.15rem;right: 0.1rem;color: #B3B3B3;cursor: pointer;}
.Semilight{word-break: break-all;font-weight: 400 !important;}
.header .header-contentTitle{
  overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.selece-icon .t-img{margin-top: 0.30rem;width: 0.28rem;}
.image-radio{
  width: 100%;
  max-height: 3.8rem;
  border: 0.01rem solid #e8e8e8;
  background-color: #fff;
  margin-bottom: 0.15rem;
  padding: 0.15rem;
  box-sizing: border-box;
  border-radius: 0.08rem;
}
.radio-img{
  max-width: 100%;
  height: 2.8rem;
  margin-bottom: 0.1rem;
  border-radius: 0.08rem;
  background-color: #f8f8f8;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.margin-top10{margin-top: 10px;}
.radio-img .t-img{height: auto;border-radius: 0.08rem;}
.image-radio:nth-of-type(2n){margin-left: 0;}
.mode{position: fixed;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;background-color:#000000;z-index: 9999;
  filter:Alpha(opacity=50);
  background-color:rgba(0,0,0,0.5);
  padding: 0 0.4rem;
  /* position:static;  */
  /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
  zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */}
  .mode-box{background-color: #fff;margin-top: 52%;height: 4.79rem;width: 100%;border-radius: 0.08rem;behavior: url(../src/pie/PIE.htc);
  padding: 0.6rem 0.6rem 0.8rem;}
  .mode-title{font-size:0.32rem;text-align: center;color:#333;padding-bottom: 0.2rem;}
  .input-box{border-bottom: 0.02rem solid #F0F0F0;margin-bottom: 0.2rem;position: relative;}
  .mode-input{font-size: 0.28rem;border: none;line-height: 1;}
  .input-box .code{width: 1.84rem;height: 0.6rem;position: absolute;right: 0;bottom: 0.25rem;color: #fff;
    background-color: #3B3B3B;border-radius: 0.08rem;font-size: 0.28rem;}
  .input-box .t-img{height: 100%;}
  .mode-btns{text-align: center;}
  .mode-btns .mode-btn{width:2rem;height: 0.72rem;text-align: center;line-height: 0.72rem;display: inline-block;
      font-size: 0.28rem;border-radius: 0.36rem;border: 0.02rem solid #CCCCCC;}
  .mode-btns .mode-btn:first-of-type{margin-right: 0.4rem;}
  .mode-code{display: none;}
  .active-radio{padding: 0;}
  .active-radio:last-of-type{margin-bottom: 0;}
  .active-radio:nth-of-type(2n){margin-left: 0.25rem;margin-bottom: 0.15rem;}
  .t-nothing{width: 5.6rem;margin:45% 15% 0;padding: 0.2rem 0.3rem;font-size: 0.36rem;border: 0.02rem solid #e8e8e8;
    font-weight: bold;text-align: center;background-color: #fff;border-radius: 0.1rem;}


